@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");
html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F9F9FA;
  font: 400 12px/8px "nutanix_soft", san-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: hidden;
}

.widget {
  height: 350px;
  width: 299px;
  box-sizing: border-box;
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #DBDFE1;
  margin: 10px;
}

.widget:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.widget-header {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 11px 15px;
  border-bottom: 1px solid #F3F4F5;
}

.widget-header h5 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

.widget-body {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.view {
  display: flex;
  align-items: "";
  justify-content: space-between;
  flex-direction: row;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #F3F4F5;
  padding: 11px 15px;
  transform: translateY(-2px);
  overflow-x: hidden;
}

.view:last-child {
  border-radius: 0 0 4px 4px;
  border-color: transparent;
}

.view:not(.primary) {
  align-items: center;
  color: #6F787E;
}

.view:not(.primary):hover {
  cursor: pointer;
  color: #3F4142;
  background-color: #F9F9FA;
}

.view:not(.primary):hover .title {
  text-decoration: underline;
}

.view:not(.primary):hover .value {
  color: initial;
}

.values {
  border-radius: 4px 4px 0 0;
  width: 115%;
  margin-left: -20px;
  margin-top: 28px;
  border-color: #F3F4F5;
}

.total {
  margin-top: -1px;
  width: 115%;
  margin-left: -20px;
  border-radius: 0 0 4px 4px;
  border-bottom: none;
  border-color: #F3F4F5;
}

.primary {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  margin: 18px  0 30px 0;
}

.primary a,
.primary h6 {
  padding: 5px 0;
  font: 400 12px/8px "nutanix_soft", san-serif;
}

.primary h1 {
  font: 200 24px/18px "nutanix_soft", san-serif;
  padding: 10px 0;
  font-weight: 600;
}

.primary a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  color: #26bbf0;
  font: 400 12px/8px "nutanix_soft", san-serif;
}

.primary a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.primary p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.graph {
  margin-bottom: 15px;
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  right: "";
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(52, 53, 54, 0.6);
}

.popup {
  height: auto;
  width: 400px;
  box-sizing: border-box;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.popup-header {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #343536;
  padding: 11px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #9AA5B5;
  border-radius: 4px 4px 0 0;
}

.popup-header span {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  position: relative;
}

.popup-header span:hover {
  cursor: pointer;
}

.popup-header span::after, .popup-header span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 9px;
  right: "";
  height: 16px;
  width: 2px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #9AA5B5;
  transition: background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.popup-header span::before {
  transform: rotate(-45deg);
}

.popup-header span::after {
  transform: rotate(45deg);
}

.popup-header span:hover::before, .popup-header span:hover::after {
  background-color: white;
}

.popup-footer {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: "";
  background-color: #F3F4F5;
  border-radius: 0 0 4px 4px;
  padding: 18px;
  border-top: 1px solid #DBDFE1;
}

.popup-footer button {
  border: 1px solid #C4C9CD;
  border-radius: 4px;
  padding: 11px 15px;
  color: #6F787E;
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  font-weight: 500;
}

.popup-footer button:hover {
  color: #3F4142;
  cursor: pointer;
}

.popup-body {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 20px;
}

.popup-body h3 {
  font: 500 12px/8px "nutanix_soft", san-serif;
  padding-bottom: 8px;
}

.popup-body p {
  padding-bottom: 15px;
  color: #6F787E;
}

.popup-body span {
  float: right;
  text-align: right;
}

.main-graph {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.graph {
  height: 20px;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  border-radius: 0;
}

.graph:not(:last-child) {
  margin-right: 2px;
}

.graph:first-child {
  background-color: #c2d5a0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.graph:last-child {
  background-color: #F3F4F5;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.compress, .dedup, .erasure {
  transition: background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100px;
  background-color: #DBDFE1;
  animation: graph-size 1.8s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'><g style='fill:#ffffff;opacity:0.5;'><polygon points='4 0 6 0 0 6 0 4'/><polygon points='6 4 6 6 4 6'/></g></svg>");
}

.hover {
  background-color: #C4C9CD;
  cursor: pointer;
}

.used {
  flex-shrink: 1;
}

.dedup {
  background-position: 3.9px 0;
}

.erasure {
  width: 200px;
  background-position: 2.2px 0;
}

.free {
  width: 150px;
  flex-shrink: 0;
}

table {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  border-collapse: separate;
}

td {
  vertical-align: middle;
  width: calc(100% - 1px);
  border-bottom: 1px solid #F2F4F6;
  padding: 15px 15px;
  font: 300 12px/8px "nutanix_soft", san-serif;
  font-weight: 400;
}

tr:first-child td:first-child {
  text-indent: 0;
}

tr:first-child {
  color: #9AA5B5;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}

tr:first-child td {
  font-size: 10px;
  line-height: 8px;
  font-weight: 500;
  padding: 10px 15px;
}

td kbd {
  color: #36D068;
  line-height: 8px;
  padding-right: 8px;
}

td kbd:nth-child(2) {
  color: #22A5F7;
}

tr:last-child td {
  border-bottom: none;
}

td:last-child {
  text-align: right;
}

.cellHover {
  background-color: #F9F9FA;
  cursor: pointer;
}

@keyframes graph-size {
  0% {
    margin-right: 0;
    width: 0;
  }
  30% {
    margin-right: 0;
    width: 0;
  }
  100% {
    margin-right: 2px;
    width: inherit;
  }
}
