//Comment for compiler
@import url( 'http://meyerweb.com/eric/tools/css/reset/reset.css');
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';
@import '../../_ntnx/old_variables';

// general css rules
html {
  @include font;
  background-color: $background-color-4-old;
  font: $h3-alt-old;
}

body {
  @include flex(center, center, row);
  @include size(100vh, 100%);
  flex-wrap: wrap;
  overflow: hidden;
}

//popup styling
.popup-background {
  @include absolute();
  @include size(100%,100%);
  @include flex(center, center, column);
  background-color: rgba(52, 53, 54, 0.60);
}

.popup {
  @include size(auto,600px);
  @include shadow;
}

.popup-header {
  @include popup-header-old;
}

.popup-subheader{
  @include flex(center,'','');
  height: 40px;
  border-bottom: 1px solid $border-color-2-old;
  padding: 0 20px;
  background-color: white;
  h3{
    position: relative;
    margin-right: 30px;
    font-weight: 500;
    &:nth-child(2){
      &:after{
        content:'';
        position: absolute;
        top:25px;
        right:-5%;
        height: 2px;
        width: 110%;
        background-color: $blue-2-old;
      }
    }
}
}


.popup-footer{
  @include size(60px, 100%);
  @include flex(center, flex-end, '');
  background-color: $background-color-3-old;
  border-radius: 0 0 4px 4px;
  padding:18px;
  border-top: 1px solid $border-color-2-old;
  .secondary{
  @include secondary-old;
  font-weight: 500;
  }
  .primary{
    @include primary-old;
    margin-left: 10px;
    font-weight: 500;
    min-width:65px;
  }
}
// popup main

.popup-body {
  @include size(auto, 100%) background-color: $white-old;
  padding: 20px;

  a{
    color:$blue-2-old;
  }

  h3 {
    font: $h3-old;
    font-weight: 600;
    padding-bottom: 8px;
    span{
      font-weight: 400;
    }
    code{
      color:$font-color-2-old;
      margin-left: 5px;
    }
  }

  p {
    padding-bottom: 15px;
    color: $font-color-2-old;
  }

  span {
    float: right;
    text-align: right;
  }
}
//cards

.deck{
  @include flex(center,center,row);
  margin-top: 5px;
}
.card{
 @include secondary-old;
 display: block;
 width:150px;
 border-color: $border-color-2-old;
 &:nth-child(2){
   margin: 0 15px;
 }
 h3{
   color:$font-color-1-old;
   padding-bottom: 10px;
   font-size: 14px;
   margin-top: 10px;
 }
 span{
   color: $font-color-1;
 }
 p{
   padding-top: 15px;
   &:not(:last-child){
   border-bottom: 1px solid $border-color-3-old;
   }
   &:last-child{
     margin-bottom: 10px;
   }
  }
}
.card-footer{
  background-color: $background-color-3-old;
  width: 100%;
  padding: 11px 15px;
  margin: -1px -15px -11px -15px;
  border-top: 1px solid $border-color-2-old;
  border-radius: 0 0 3px 3px;
  @include flex(center, center, '');
  .primary{
    @include primary-old;
    margin-left: 0px;
    font-weight: 500;
    width: 100%;
    min-width:65px;
  }
  h3{
    font-size: 12px;
    font-weight: 500;
  }
}
