//Comment for compiler
@import url( 'http://meyerweb.com/eric/tools/css/reset/reset.css');
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';
@import '../../_ntnx/old_variables';

// general css rules
html {
  @include font;
  background-color: $background-color-4-old;
  font: $h3-alt-old;
}

body {
  @include flex(center, center, row);
  @include size(100vh, 100%);
  flex-wrap: wrap;
  overflow: hidden;
}

// widget
.widget {
  @include size(285px, 299px);
  @include transition(box-shadow);
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $border-color-2-old;
  &:hover {
    @include shadow;
  }
  margin: 10px;
}

.widget-header {
  @include size(30px, 100%);
  padding: 11px 15px;
  border-bottom: 1px solid $border-color-3-old;

  h5 {
    font: $h3-alt-old;
  }
}

.widget-body {
  @include size(255px, 100%);
  @include flex(center, space-between,column);
  overflow-y: hidden;
}

// shared widget styling

.view {
  @include flex( '', space-between, row);
  @include size(40px, 100%);
  border-bottom: 1px solid $border-color-3-old;
  padding: 11px 15px;
  transform: translateY(-2px);

  &:last-child {
    border-radius: 0 0 4px 4px;
    border-color: transparent;
  }

  &:not(.primary) {
    @include hover($font-color-1-old, $semi-white-old);
    align-items: center;
    color: $font-color-2-old;

    &:hover .title {
      text-decoration: underline;
    }

    &:hover .value {
      color: initial;
    }
  }
}

// first information pane overwrite

.primary {
  @include size(auto,100%) justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;

  a,
  h6 {
    padding: 5px 0;
    font: $h3-alt-old;
  }

  h1 {
    font: $h1-old;
    padding: 10px 0;
    font-weight: 600;
  }

  a {
    @include link;
    color: $blue-2-old;
    font: $h3-alt-old;
  }
}

//popup styling

.popup-background {
  @include absolute();
  @include size(100%,100%);
  @include flex(center, center, column);
  background-color: rgba(52, 53, 54, 0.60);
}

.popup {
  @include size(auto,400px);
  @include shadow;
}

.popup-header {
  @include popup-header-old;
}

.popup-footer{
  @include size(60px, 100%);
  @include flex(center, flex-end, '');
  background-color: $background-color-3-old;
  border-radius: 0 0 4px 4px;
  padding:18px;
  border-top: 1px solid $border-color-2-old;
  button{
  @include secondary-old;
  font-weight: 500;
  }
}
// popup main

.popup-body {
  @include size(auto, 100%) background-color: $white-old;
  padding: 20px;

  h3 {
    font: $h3-old;
    padding-bottom: 8px;
  }

  p {
    padding-bottom: 15px;
    color: $font-color-2-old;
  }

  span {
    float: right;
    text-align: right;
  }
}

// main graph

.main-graph {
  @include flex (flex-start, space-between, row);
  @include size(auto, 100%);
  border-radius: 4px;
  // border: 1px solid $border-color-1-old;
}

.graph {
  @include size(20px, 100%);
  flex-grow: 1;
  border-radius: 0;

  &:not(:last-child) {
    margin-right: 2px;
  }

  &:first-child {
    background-color: $cobalt-1-old;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    background-color: $background-color-3-old;
    border-top-right-radius: 4px;
    border-bottom-rght-radius: 4px;
  }
}

.compress {
  @include transition(all);
  border:1px solid transparent;
  width: 60px;
  background-color: $background-color-3-old;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'><g style='fill:#DBDFE1;opacity:0.9;'><polygon points='4 0 6 0 0 6 0 4'/><polygon points='6 4 6 6 4 6'/></g></svg>");
}

.hover {
  border: 1px solid $border-color-1-old;
  background-color: $background-color-4-old;
  animation-name: motionb-bg;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dedup {
  @extend .compress;
  background-position: 3.9px 0;
}

.erasure {
  @extend .compress;
  background-position: 2.2px 0;
}

//table

table {
  margin-top: 20px;
  @include size(30px, 100%);
  border: 1px solid $border-color-2;
  border-radius: 4px;
  border-collapse: separate;
}

td {
  vertical-align: middle;
  width: calc(100% - 1px);
  border-bottom: 1px solid $border-color-3;
  padding: 11px 15px;
  font: $p-alt-old;
  font-weight: 400;
}

tr:first-child td:first-child {
  text-indent: 0;
}

tr:first-child {
  color: $font-color-4-old;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}

tr:first-child td {
  font-size: 10px;
  line-height: 8px;
  font-weight: 500;
  padding: 10px 15px;
}

td kbd {
  color: $green-1;
  line-height: 8px;
  padding-right: 8px;

  &:nth-child(2) {
    color: $blue-1;
  }
}

tr:last-child td {
  border-bottom: none;
}


tr:not(:first-child){
  &:hover{
  background-color: $background-color-4-old;
  cursor: pointer;
  }
}

@keyframes motionb-bg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 300px 0;
  }
}
