@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");
html {
  font: 300 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F9F9FA;
  font: 400 12px/8px "nutanix_soft", san-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: hidden;
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  right: "";
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(52, 53, 54, 0.6);
}

.popup {
  height: auto;
  width: 500px;
  box-sizing: border-box;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.popup-header {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #343536;
  padding: 11px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #9AA5B5;
  border-radius: 4px 4px 0 0;
}

.popup-header span {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  position: relative;
}

.popup-header span:hover {
  cursor: pointer;
}

.popup-header span::after, .popup-header span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 9px;
  right: "";
  height: 16px;
  width: 2px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #9AA5B5;
  transition: background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.popup-header span::before {
  transform: rotate(-45deg);
}

.popup-header span::after {
  transform: rotate(45deg);
}

.popup-header span:hover::before, .popup-header span:hover::after {
  background-color: white;
}

.popup-subheader {
  display: flex;
  align-items: center;
  justify-content: "";
  flex-direction: "";
  height: 40px;
  border-bottom: 1px solid #DBDFE1;
  padding: 0 20px;
  background-color: white;
}

.popup-subheader h3 {
  position: relative;
  margin-right: 30px;
  font-weight: 500;
}

.popup-subheader h3:nth-child(2):after {
  content: '';
  position: absolute;
  top: 25px;
  right: -5%;
  height: 2px;
  width: 110%;
  background-color: #26bbf0;
}

.popup-footer {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: "";
  background-color: #F3F4F5;
  border-radius: 0 0 4px 4px;
  padding: 18px;
  border-top: 1px solid #DBDFE1;
}

.popup-footer .secondary {
  border: 1px solid #C4C9CD;
  border-radius: 4px;
  padding: 11px 15px;
  color: #6F787E;
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  font-weight: 500;
}

.popup-footer .secondary:hover {
  color: #3F4142;
  cursor: pointer;
}

.popup-footer .primary {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #26bbf0;
  margin-left: 10px;
  font-weight: 500;
  min-width: 65px;
}

.popup-footer .primary:hover {
  background-color: #7ad5f9;
  cursor: pointer;
}

.popup-body {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 20px;
}

.popup-body a {
  color: #26bbf0;
}

.popup-body h3 {
  font: 500 12px/8px "nutanix_soft", san-serif;
  font-weight: 600;
  padding-bottom: 8px;
}

.popup-body h3 span {
  font-weight: 400;
}

.popup-body h3 code {
  color: #6F787E;
  margin-left: 5px;
}

.popup-body p {
  padding-bottom: 15px;
  color: #6F787E;
}

.popup-body span {
  float: right;
  text-align: right;
}

.deck {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 5px;
}

input[type=radio] + label {
  padding-right: 15px;
  margin-left: 5px;
}

.table-cloth {
  margin-top: 15px;
  border: 1px solid #DBDFE1;
  border-radius: 4px;
  display: block;
}

.details {
  border: none;
  width: 100%;
}

.details td, .details th {
  padding: 11px 20px;
  text-align: left;
}

.details td:last-child, .details th:last-child {
  text-align: right;
}

.details thead {
  border-bottom: 1px solid #F3F4F5;
}

.details th {
  font-size: 10px;
  font-weight: 500;
  color: #6F787E;
}

.details th:not(last-child) {
  border-right: 1px solid #F3F4F5;
}

.card {
  border: 1px solid #C4C9CD;
  border-radius: 4px;
  padding: 11px 15px;
  color: #6F787E;
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  display: block;
  width: 150px;
  border-color: #DBDFE1;
}

.card:hover {
  color: #3F4142;
  cursor: pointer;
}

.card:nth-child(2) {
  margin: 0 15px;
}

.card h3 {
  color: #3F4142;
  padding-bottom: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.card span {
  color: #22272E;
}

.card p {
  padding-top: 15px;
}

.card p:not(:last-child) {
  border-bottom: 1px solid #F3F4F5;
}

.card p:last-child {
  margin-bottom: 10px;
}

.card-footer {
  background-color: #F3F4F5;
  width: 100%;
  padding: 11px 15px;
  margin: -1px -15px -11px -15px;
  border-top: 1px solid #DBDFE1;
  border-radius: 0 0 3px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "";
}

.card-footer .primary {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #26bbf0;
  margin-left: 0px;
  font-weight: 500;
  width: 100%;
  min-width: 65px;
}

.card-footer .primary:hover {
  background-color: #7ad5f9;
  cursor: pointer;
}

.card-footer h3 {
  font-size: 12px;
  font-weight: 500;
}
